* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
.hide {
  display: none !important;
}

@keyframes moving {
  from {
    width: 12px;
  }
  to {
    width: 25px;
  }
}
@-webkit-keyframes moving {
  from {
    width: 12px;
  }
  to {
    width: 25px;
  }
}
.main-content {
  padding-top: 30px;
  background-color: #F4F4F6;
}
.main-content .slider {
  padding: 20px;
}
.main-content .slider-box {
  position: relative;
  width: 545px;
  height: 310px;
  overflow: hidden;
}
.main-content .slider-box li {
  list-style: none;
  float: left;
  width: 545px;
}
.main-content .slider-box li img {
  width: 545px;
  height: 310px;
  display: block;
}
.main-content .slider-box .arrow-btn {
  position: absolute;
  margin-top: -12.5px;
}
.main-content .slider-box .arrow-btn:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
}
.main-content .slider-box .arrow-btn:hover:after {
  border-color: #ffffff;
}
.main-content .slider-box .prev {
  left: 5%;
  top: 50%;
}
.main-content .slider-box .prev:after {
  transform: rotate(-135deg);
}
.main-content .slider-box .next {
  right: 5%;
  top: 50%;
}
.main-content .slider-box .next:after {
  transform: rotate(45deg);
}
.main-content .slider-box .hd {
  position: absolute;
  left: 50%;
  bottom: 5%;
  padding: 0 4px;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-content .slider-box .hd a {
  margin: 4px;
  float: left;
  width: 12px;
  height: 12px;
  color: #fff;
  background-color: #fff;
  border-radius: 6px;
}
.main-content .slider-box .hd .on {
  animation: moving 0.5s ease-out 1;
  -webkit-animation: moving 0.5s ease-out 1;
  animation-fill-mode: forwards;
  background-color: #fe6500;
}